.profile__info {
  grid-area: information;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  margin-top: 22px;
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .profile__info {
    max-width: 336px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
  }
}