.profile__avatar {
  grid-area: image;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
  align-self: center;
  background-size: cover;
}

@media screen and (min-width: 600px) {
  .profile__avatar {
    justify-self: flex-start;
  }
}